@use '../../../assets/styles/mixins' as *;
@use '../../../assets/styles/tooltip' as *;
@use '../../../assets/tokens/durations' as *;
@use '../../../assets/tokens/opacities' as *;
@use '../../../assets/tokens/font-families' as *;
@use '../../../assets/tokens/letter-spacings' as *;
@use '../../../assets/tokens/animations' as *;
@use '../../../assets/tokens/colors' as *;
@use '../../../assets/tokens/font-sizes' as *;
@use '../../../assets/tokens/font-weights' as *;
@use '../../../assets/tokens/line-heights' as *;
@use '../../../assets/tokens/sizes' as *;
@use '../../../assets/tokens/spacings' as *;
@use '../../../assets/tokens/media-queries' as *;
@use '../../../assets/tokens/border-radius' as *;

.mc-button {
  $block-name: &;
  @include reset();
  --mc-button-background-color: #{$color-transparent};
  --mc-button-active-text-color: #{$color-purple};
  --mc-button-font-weight: #{$font-weight-normal};
  --mc-button-text-color: #{$color-black};
  --mc-button-hover-brightness: 0.9;
  --mc-button-secondary-color: initial;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  flex-wrap: nowrap;
  max-width: 100%;
  font-family: $font-family-main;
  border-radius: $radius-100;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  text-transform: none;
  background: none;
  cursor: pointer;
  outline: 0;
  transition: all $duration-s;
  font-weight: var(--mc-button-font-weight);
  color: var(--mc-button-text-color);
  -webkit-appearance: none;
  -webkit-text-fill-color: currentColor;
  z-index: 0;

  &__loader {
    display: none;
    line-height: 0;
    @include align(true, true, absolute);
    top: unset;
    left: unset;
    transform: unset;
    z-index: 1;
    &-icon {
      animation: $animation-spinner;
    }
  }
  &__prepend,
  &__append {
    display: inline-flex;
    align-items: center;
    z-index: 1;
  }

  &__text {
    @include ellipsis($display: inline-block);
    @include layout-flex-fix();
    z-index: 1;
    &:empty {
      display: none;
    }
  }
  @mixin hoverMixin {
    @media #{$media-desktop} {
      &:hover {
        #{$block-name}__background {
          @content;
        }
      }
    }

    &:active {
      #{$block-name}__background {
        @content;
      }
    }
  }
  @include hoverMixin {
    filter: brightness(var(--mc-button-hover-brightness));
  }

  &--size {
    &-xxs {
      height: $size-300;
      padding: 0 $space-100;
      letter-spacing: normal;
      font-size: $font-size-200;
      line-height: $line-height-200;

      &-compact {
        @include size($size-300);
        padding: $space-50;
        .mc-svg-icon {
          @include size($size-200);
        }
      }
      .mc-svg-icon {
        @include size($size-200);
      }

      #{$block-name} {
        &__prepend {
          margin-inline-end: $space-50;
        }
        &__append {
          margin-inline-start: $space-50;
        }
      }
    }
    &-xs {
      height: $size-400;
      padding: 0 $space-150;
      letter-spacing: normal;
      font-size: $font-size-200;
      line-height: $line-height-200;

      &-compact {
        @include size($size-400);
        padding: 6px;
        .mc-svg-icon {
          @include size($size-250);
        }
      }
      .mc-svg-icon {
        @include size($size-250);
      }

      #{$block-name} {
        &__prepend {
          margin-inline-end: $space-50;
        }
        &__append {
          margin-inline-start: $space-50;
        }
      }
    }
    &-s {
      height: $size-500;
      padding: 0 $space-200;
      letter-spacing: normal;
      font-size: $font-size-200;
      line-height: $line-height-200;

      &-compact {
        @include size($size-500);
        padding: $space-150;
        .mc-svg-icon {
          @include size($size-250);
        }
      }
      .mc-svg-icon {
        @include size($size-250);
      }

      #{$block-name} {
        &__prepend {
          margin-inline-end: $space-50;
        }
        &__append {
          margin-inline-start: $space-50;
        }
      }
    }
    &-m {
      height: $size-500;
      padding: 0 $space-200;
      font-size: $font-size-200;
      line-height: $line-height-200;

      &-compact {
        @include size($size-500);
        padding: $space-100;
        .mc-svg-icon {
          @include size($size-300);
        }
      }
      .mc-svg-icon {
        @include size($size-300);
      }

      #{$block-name} {
        &__prepend {
          margin-inline-end: $space-50;
        }
        &__append {
          margin-inline-start: $space-50;
        }
      }
    }
    &-l {
      height: $size-600;
      padding: $space-150 $space-300;
      font-size: $font-size-200;
      line-height: $line-height-200;

      &-compact {
        @include size($size-600);
        padding: $space-150;
        .mc-svg-icon {
          @include size($size-300);
        }
      }
      .mc-svg-icon {
        @include size($size-300);
      }

      #{$block-name} {
        &__prepend {
          margin-inline-end: $space-100;
        }
        &__append {
          margin-inline-start: $space-100;
        }
      }
    }

    &-s,
    &-m,
    &-l {
      &-compact {
        #{$block-name} {
          &__prepend,
          &__append {
            margin: 0 !important;
          }
        }
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    max-width: -webkit-fill-available;
    opacity: 1 !important;
    border: 1px solid $color-transparent;
    border-radius: inherit;
    background-color: var(--mc-button-background-color);
    transition: all $duration-s;
    box-sizing: border-box;
  }
  &--type {
    &-outline {
      color: var(--mc-button-background-color);
      #{$block-name}__background {
        opacity: 0.6 !important;
        background-color: $color-transparent;
        border-color: var(--mc-button-background-color);
      }
      @media #{$media-desktop} {
        &:hover {
          #{$block-name}__background {
            background-color: var(--mc-button-background-color);
            opacity: 0.2 !important;
          }
        }
        &:active {
          #{$block-name}__background {
            background-color: var(--mc-button-background-color);
            border: none;
          }
        }
      }
    }
    &-invert {
      color: var(--mc-button-background-color);
      #{$block-name} {
        &__background {
          opacity: 0.1 !important;
        }
      }
      @include hoverMixin {
        opacity: 0.2 !important;
      }
    }
    &-flat {
      color: var(--mc-button-background-color);
      #{$block-name}__background {
        opacity: 0 !important;
      }
      @include hoverMixin {
        opacity: 0.1 !important;
      }
    }
    &-link {
      color: var(--mc-button-background-color);
      padding: 0;
      @include size(auto);
      border: none;
      user-select: text;
      &#{$block-name}--size-l {
        line-height: $line-height-250;
      }
      &#{$block-name} {
        &--disabled {
          opacity: $opacity-disabled;
          background-color: transparent !important;
          color: var(--mc-button-background-color) !important;
          border-color: transparent !important;
        }
      }
      @media #{$media-desktop} {
        &:hover {
          filter: brightness(0.85);
        }
      }

      &:active {
        filter: brightness(0.85);
      }
      #{$block-name} {
        &__background {
          display: none;
        }
      }
    }
  }
  &--bg-flat {
    #{$block-name} {
      &__background {
        opacity: 0.1 !important;
      }
    }
  }
  &--shadow {
    box-shadow: 0 3px 10px var(--mc-button-background-color);
  }
  &--underline-link {
    #{$block-name}__text {
      text-decoration: underline !important;
    }
  }

  &--secondary-color {
    @media #{$media-desktop} {
      &:hover {
        color: var(--mc-button-secondary-color);
      }
    }
    &:active {
      color: var(--mc-button-secondary-color);
    }
  }

  &--uppercase {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-m;
  }

  &--is-active,
  &.nuxt-link-active {
    color: var(--mc-button-active-text-color);
    background-color: transparent;
    border-color: transparent;
    pointer-events: none;
  }

  &--rounded {
    border-radius: $radius-circle;
  }

  &--semi-rounded {
    border-radius: 50px;
  }

  &--full-width {
    width: 100%;
  }

  &--text-align {
    &-left {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-right {
      justify-content: flex-end;
    }
  }

  &--loading,
  &--icon-loading,
  &--disabled {
    pointer-events: none;
  }

  &--loading {
    #{$block-name} {
      &__loader {
        display: inline-block;
      }
    }

    > *:not(#{$block-name}__loader) {
      opacity: 0;
    }
  }
  &--icon-loading {
    #{$block-name} {
      &__append,
      &__prepend {
        .mc-svg-icon {
          animation: $animation-spinner;
        }
      }
    }
    #{$block-name}__loader {
      transform-origin: center center;
      animation: $animation-spinner;
    }
  }

  &--disabled {
    color: $color-outline-gray;
    cursor: not-allowed;
    #{$block-name} {
      &__background {
        background-color: $color-hover-gray;
        border-color: $color-hover-gray;
      }
    }
  }

  &--inactive {
    pointer-events: none;
  }
}
