@use '../../../../assets/styles/mixins' as *;
@use '../../../../assets/tokens/spacings' as *;
@use '../../../../assets/tokens/border-radius' as *;
@use '../../../../assets/tokens/colors' as *;
.mc-chat-comment {
  $block-name: &;
  --mc-chat-comment-color: initial;
  --mc-chat-comment-opacity: initial;
  padding: $space-50;
  border-radius: $radius-100;
  display: block;
  cursor: default;
  position: relative;
  &__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include child-indent-right($space-50);
    > * {
      margin-bottom: $space-50;
    }
    .mc-badge {
      flex-shrink: 0;
    }
    .mc-title {
      width: auto;
      overflow: hidden;
    }
  }
  &__back {
    text-decoration: none;
    display: block;
    @include position(absolute, 0);
    border-radius: $radius-100;
  }

  &__btn {
    visibility: hidden;
  }
  &__link {
    color: $color-purple;
    &:hover,
    &:focus {
      color: var(--color-main-dark);
    }

    &:active {
      color: var(--color-main-dark);
    }
  }

  .mc-preview {
    z-index: 10;
    position: relative;
  }

  .mc-preview__bottom {
    margin-top: $space-50;
  }
  &__content {
    margin-top: $space-50;
    border-radius: $radius-100;
    padding: $space-150 $space-200;
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      @include size(100%);
      background-color: var(--mc-chat-comment-color);
      opacity: var(--mc-chat-comment-opacity);
    }
  }
  &__message {
    margin-top: $space-100;
    padding: $space-150 $space-200;
    border-radius: $radius-100;
    background-color: $color-hover-gray;
    .mc-title__text {
      word-break: break-all;
    }
  }
  &--editable {
    cursor: pointer;
    &:focus-within {
      background-color: $color-hover-gray;
      #{$block-name}__btn {
        visibility: visible;
      }
    }
    &:active {
      background-color: $color-hover-gray;
      #{$block-name}__btn {
        visibility: visible;
      }
    }
  }
}