@use '../../../assets/styles/mixins' as *;
@use '../../../assets/tokens/sizes' as *;
@use '../../../assets/tokens/media-queries' as *;
.mc-svg-icon {
  --mc-svg-icon-size: #{$size-250};
  --mc-svg-icon-weight: 1.5;
  --mc-svg-icon-color: initial;
  @include reset();
  @include reset-text-indents();

  @include size(inherit);
  width: var(--mc-svg-icon-size);
  height: var(--mc-svg-icon-size);
  min-width: var(--mc-svg-icon-size);
  min-height: var(--mc-svg-icon-size);
  stroke-width: var(--mc-svg-icon-weight);
  color: var(--mc-svg-icon-color);
  use {
    stroke-width: var(--mc-svg-icon-weight);
  }
  @each $media, $value in $token-media-queries {
    @media #{$value} {
      @each $size, $sValue in $token-icon-sizes {
        &--size-#{$media}-#{$size} {
          @include size($sValue);
        }
      }
    }
  }
  &--dir {
    &-rtl {
      transform: scale(-1, 1);
    }
  }
}