@use '../../../assets/styles/mixins' as *;
@use '../../../assets/tokens/spacings' as *;
@use '../../../assets/tokens/colors' as *;
.mc-side-bar {
  $block-name: &;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: $space-250 $space-100 $space-400;
  transition: width 300ms ease;
  overflow-x: hidden;
  overflow-y: auto;
  @include child-indent-bottom($space-400);
  &--color-theme-black {
    background-color: $color-black;
  }
  &--color-theme-white {
    background-color: $color-white;
    border-inline-end: 1px solid $color-hover-gray;
  }
  &__scrollable-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include hide-scrollbar;
  }
  &-wrapper {
    height: 100%;
    transition: width 300ms ease;
    &__backdrop {
      position: absolute;
      background-color: rgba($color-black, 0.6);
      z-index: 25;
      height: inherit;
      .mc-side-bar {
        height: inherit;
      }
      &--full-width {
        width: 100%;
      }
    }
  }
}