@use '../../../../assets/tokens/durations' as *;
@use '../../../../assets/tokens/spacings' as *;
.mc-side-bar-bottom {
  $block-name: &;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: flex-end;
  min-height: max-content;

  &__hide-button {
    .mc-side-bar-button__icon {
      transition: transform $duration-s;
    }
  }

  &--compact {
    #{$block-name}__hide-button {
      .mc-side-bar-button__icon {
        transform: rotate(180deg);
      }
    }
  }
  &__slot-message {
    margin-inline-start: -$space-100;
    margin-inline-end: -$space-100;
    padding-inline-start: $space-100;
    padding-inline-end: $space-100;
    & + * {
      margin-top: $space-500;
    }
  }
}