@use '../../../assets/styles/mixins' as *;
@use '../../../assets/tokens/spacings' as *;
@use '../../../assets/tokens/colors' as *;
@use '../../../assets/tokens/font-families' as *;
.mc-wrap-scroll {
  $block-name: &;
  $more-space-indent: $space-200;
  --mc-wrap-scroll-bottom: #{$space-zero};
  padding-bottom: var(--mc-wrap-scroll-bottom);
  margin-bottom: calc((var(--mc-wrap-scroll-bottom)) * -1);
  font-family: $font-family-main;
  &.mc-wrap-scroll--scrollable {
    overflow-x: auto;
    overflow-y: hidden;
  }
  &--more-space {
    padding: $more-space-indent;
    margin: -(#{$more-space-indent});
  }
  &.mc-wrap-scroll--no-scrollbar {
    @include hide-scrollbar();
  }
  &__wrapper {
    position: relative;
    overflow-x: hidden;
    @mixin blur-common-styles {
      @include pseudo();
      top: 0;
      bottom: 0;
      width: $space-500;
      z-index: 2;
      pointer-events: none;
      user-select: none;
    }
    @mixin right-blur {
      background: linear-gradient(to left, #{$color-bg-gray}, rgba($color-bg-gray, 0));
    }
    @mixin left-blur {
      background: linear-gradient(to right, #{$color-bg-gray}, rgba($color-bg-gray, 0));
    }
    &--more-space {
      padding: $more-space-indent;
      margin: -(#{$more-space-indent});
      &#{$block-name}__wrapper {
        &--left-blur {
          #{$block-name} {
            padding-inline-start: 0;
            margin-inline-start: 0;
          }
          &::before {
            top: $more-space-indent;
            bottom: $more-space-indent;
            inset-inline-start: $more-space-indent;
            @include left-blur;
          }
        }
        &--right-blur {
          #{$block-name} {
            padding-right: 0;
            margin-right: 0;
          }
          &::after {
            top: $more-space-indent;
            bottom: $more-space-indent;
            inset-inline-end: $more-space-indent;
            @include right-blur;
          }
        }
      }
    }
    &--left-blur {
      &::before {
        @include blur-common-styles;
        @include left-blur;
        inset-inline-start: 0;
      }
    }
    &--right-blur {
      &::after {
        @include blur-common-styles;
        @include right-blur;
        inset-inline-end: 0;
      }
    }
  }
}