@use '../../../assets/styles/mixins' as *;
@use '../../../assets/tokens/spacings' as *;
@use '../../../assets/tokens/font-families' as *;
.mc-cell {
  $block-name: &;
  font-family: $font-family-main;

  &--size {
    &-s {
      #{$block-name}__content {
        margin-top: 0;
      }
    }

    &-m {
      #{$block-name}__content {
        margin-top: $space-50;
      }
    }

    &-l {
      #{$block-name}__content {
        margin-top: $space-100;
      }
    }
  }

  &__content {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }
}