$radius-square: 0px;
$radius-50: 0.25rem;       // 4px
$radius-100: 0.5rem;       // 8px
$radius-150: 0.75rem;      // 12px
$radius-200: 1rem;         // 16px
$radius-300: 1.5rem;       // 24px
$radius-400: 2rem;         // 32px
$radius-1250: 6.25rem;     // 100px
$radius-rounded: 18.75rem; // 300px
$radius-circle: 50%;

$token-radius: (
  "square": $radius-square,
  "50": $radius-50,
  "100": $radius-100,
  "150": $radius-150,
  "200": $radius-200,
  "300": $radius-300,
  "400": $radius-400,
  "1250": $radius-1250,
  "rounded": $radius-rounded,
  "circle": $radius-circle
);
