/**
* @tokens Sizes
* @presenter Spacing
*/

$size-50: 0.25rem;  // 4px
$size-100: 0.5rem;  // 8px
$size-150: 0.75rem; // 12px
$size-200: 1rem;    // 16px
$size-250: 1.25rem; // 20px
$size-300: 1.5rem;  // 24px
$size-400: 2rem;    // 32px
$size-500: 2.5rem;  // 40px
$size-550: 2.75rem; // 44px
$size-600: 3em;     // 48px
$size-700: 3.5rem;  // 56px
$size-800: 4rem;    // 64px
$size-900: 4.5rem;  // 72px
$size-1000: 5rem;   // 80px

$token-avatar-sizes: (
  300: $size-300,
  400: $size-400,
  500: $size-500,
  600: $size-600,
  700: $size-700,
  800: $size-800,
  900: $size-900,
  1000: $size-1000,
);

$token-icon-sizes: (
  50: $size-50,
  100: $size-100,
  150: $size-150,
  200: $size-200,
  250: $size-250,
  300: $size-300,
  400: $size-400,
  500: $size-500,
  550: $size-550,
  600: $size-600,
  700: $size-700,
  800: $size-800,
  900: $size-900,
  1000: $size-1000,
);
