@use '../../../assets/tokens/colors' as *;
@use '../../../assets/tokens/spacings' as *;
@use '../../../assets/tokens/media-queries' as *;
@use '../../../assets/tokens/sizes' as *;
@use '../../../assets/tokens/border-radius' as *;
@use '../../../assets/tokens/font-families' as *;
@use '../../../assets/tokens/z-indexes' as *;
.mc-draggable {
  position: fixed;
  z-index: $z-index-sticky;
  cursor: move;
  font-family: $font-family-main;
  &__inner {
    --mc-draggable-color: #{$color-purple};

    padding: $space-100 $space-150 $space-100 $space-200;
    min-height: $size-700;
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    user-select: none;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--mc-draggable-color);
      border-radius: $radius-200;
    }

    .mc-preview {
      width: 100%;
      z-index: 1;
      &__top {
        margin-bottom: $space-50;
      }
      &__left {
        display: flex;
        align-items: center;
        margin-inline-end: $size-150;
      }
      &__right {
        display: flex;
        align-items: center;
        margin-inline-start: auto;
        padding-inline-start: $space-100;
      }
    }

    @media #{$media-query-m-down} {
      .mc-preview {
        flex-wrap: wrap;

        &__center {
          flex: 1;
        }
        &__right {
          width: 100%;
          padding-top: $space-100;
          padding-inline-start: $size-400 - 2;
        }
      }
    }
  }
}