@use '../../../assets/tokens/box-shadows' as *;
@use '../../../assets/tokens/spacings' as *;
@use '../../../assets/tokens/sizes' as *;
@use '../../../assets/tokens/colors' as *;
@use '../../../assets/tokens/media-queries' as *;
@use '../../../assets/styles/mixins' as *;
.mc-drawer {
  $block-name: &;
  position: absolute;
  top: 0;
  bottom: 0;
  background: white;
  height: 100%;
  box-shadow: $shadow-s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
  pointer-events: all;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: flex-start;
    pointer-events: all;
    &--hidden {
      background: transparent;
      pointer-events: none;
    }
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    &--hidden {
      background: transparent;
      pointer-events: none;
    }
  }
  &__btn-close {
    z-index: 1;
    padding: $space-100 !important;
    & {
      @include close-link();
    }
    & {
      @include position(absolute, $space-100 $space-100 null null);
    }
    & {
      @include reset-btn();
    }
  }
  &__icon-close {
    @include size($size-300);
    &--small {
      display: none;
    }
  }
  @media #{$media-query-m-down} {
    #{$block-name}__icon-close {
      display: none;
      &--small {
        display: block;
      }
    }
  }
}