@use '../../../assets/tokens/border-radius' as *;
@use '../../../assets/tokens/opacities' as *;
@use '../../../assets/tokens/colors' as *;
@use '../../../assets/tokens/media-queries' as *;
.mc-cropper {
  $block-name: &;

  $color-main: var(--mc-cropper-color);

  .cropper {
    &-modal {
      opacity: $opacity-active;
      background-color: $color-white;
    }

    &-face,
    &-line,
    &-point {
      opacity: 0;
    }

    &-view-box {
      border-radius: $radius-circle;
      outline: 1px dashed $color-main;
    }

    &-line {
      background-color: $color-main;
    }

    &-point {
      background: $color-main;

      &.point-se {
        @media #{$media-query-xl} {
          opacity: 1;
        }

        &:before {
          background-color: $color-main;
        }
      }
    }

    &-center {
      display: none;
    }

    &-canvas {
      height: 100% !important;
    }

    &-hide {
      height: 100% !important;
    }
  }
}