@use '../../../../assets/styles/mixins' as *;
@use '../../../../assets/tokens/colors' as *;
@use '../../../../assets/tokens/font-families' as *;
@use '../../../../assets/tokens/font-weights' as *;
@use '../../../../assets/tokens/font-sizes' as *;
@use '../../../../assets/tokens/spacings' as *;
@use '../../../../assets/tokens/sizes' as *;
@use '../../../../assets/tokens/box-shadows' as *;
@use '../../../../assets/tokens/z-indexes' as *;
@use '../../../../assets/tokens/media-queries' as *;
.mc-table {
  --mc-table-z-index-header: 14;
  --mc-table-z-index-footer: 14;
  --mc-table-z-index-fixed-col-card-opened: 13;
  --mc-table-z-index-fixed-col: 12;
  --mc-table-z-index-cell-right-slot: 11;
  --mc-table-z-index-cell: 10;
  @mixin fixed-first {
    left: 0;
    z-index: var(--mc-table-z-index-fixed-col);
    border-right: var(--border-style);
    background-color: $color-white;
  }
  @mixin fixed-last {
    right: 0;
    z-index: var(--mc-table-z-index-fixed-col);
    background-color: $color-white;
  }
  @mixin fixed-classes {
    &--fixed-first {
      @include fixed-first;
    }
    &--fixed-last {
      @include fixed-last;
    }
  }
  @mixin shadow-classes {
    &--shadow-first {
      @include shadow-first;
    }
    &--shadow-last {
      @include shadow-last;
    }
  }
  @mixin shadow-first {
    border-right-color: $color-transparent;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: none;
      width: 1px;
      height: 100%;
      box-shadow: 5px 0 8px $color-black;
      pointer-events: none;
    }
  }
  @mixin shadow-last {
    border-left-color: $color-transparent;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: none;
      width: 1px;
      height: 100%;
      box-shadow: -5px 0 8px $color-black;
      pointer-events: none;
    }
  }
  @mixin grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  @mixin cell-alignment {
    display: flex;
    align-items: center;
    padding: 0 $space-200;
  }

  font-family: $font-family-main;
  overflow-y: auto;
  max-height: 100%;
  @include grow;
  * {
    box-sizing: border-box;
  }
  .mc-title {
    width: 100%;
  }
  &--card-opened {
    width: max-content;
    z-index: var(--mc-table-z-index-fixed-col-card-opened);
  }
  &__container {
    --border-style: 1px solid #{$color-hover-gray};
    --table-row-hover-background-color: #{$color-hover-gray};
    --mc-table-cell-width: auto;
    --mc-table-cell-max-width: auto;
    --mc-table-cell-min-width: auto;
    --mc-table-row-height: 40px;
    --mc-table-footer-row-height: 40px;
    --mc-table-first-col-width: auto;

    position: relative;
    overflow: hidden;
    font-size: $font-size-200;
    @include grow;
    &--outline-border {
      border: var(--border-style);
    }
    &--card-opened {
      & > .mc-table__table-bottom-loader {
        width: var(--mc-table-first-col-width);
      }
    }
  }
  &__table {
    @include grow;
    &_header {
      position: sticky;
      top: 0;
      z-index: var(--mc-table-z-index-header);
      &-row {
        display: flex;
        flex-wrap: nowrap;
        height: var(--mc-table-header-row-height);
        min-height: var(--mc-table-header-row-height);
      }
      &-cell {
        position: sticky;
        text-align: left;
        top: 0;
        z-index: var(--mc-table-z-index-cell);
        width: var(--mc-table-cell-width);
        max-width: var(--mc-table-cell-max-width);
        min-width: var(--mc-table-cell-min-width);
        background-color: $color-white;
        border-bottom: var(--border-style);
        @include cell-alignment;
        @include fixed-classes;
        @include shadow-classes;
        &_content {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-left {
            display: flex;
            align-items: center;
            @include child-indent-right($space-50);
          }
          &-right {
            margin-inline-start: $space-50;
            display: flex;
            align-items: center;
            font-weight: $font-weight-semi-bold;
            @include child-indent-right($space-50);
          }
          &_total-loading {
            .mc-chip__icon {
              margin: 0 !important;
            }
          }
        }
        &--align-left {
          justify-content: flex-start;
          .mc-table__table_header-cell_content {
            justify-content: flex-start;
          }
        }
        &--align-center {
          justify-content: center;
          .mc-table__table_header-cell_content {
            justify-content: center;
          }
        }
        &--align-right {
          justify-content: flex-end;
          .mc-table__table_header-cell_content {
            justify-content: flex-end;
          }
        }
        .mc-table-sort,
        .mc-tooltip-target {
          display: inline-flex;
          align-items: center;
        }
      }
    }
    &_body {
      @include grow;
      $body: &;
      &-row {
        display: flex;
        flex-wrap: nowrap;
        height: var(--mc-table-row-height);
        min-height: var(--mc-table-row-height);
        cursor: pointer;
        &--active {
          #{$body}-cell {
            background-color: var(--table-row-hover-background-color);
          }
        }
        &:hover {
          #{$body}-cell {
            background-color: var(--table-row-hover-background-color);
            &_content-right {
              display: flex;
            }
          }
        }
        @media #{$media-mobile} {
          #{$body}-cell {
            &_content-right {
              display: flex;
            }
          }
        }
        &--fake {
          min-height: 0;
          max-height: 100%;
          height: 100%;
          cursor: default;
          &:hover {
            #{$body}-cell {
              background-color: transparent;
              &_content-right {
                display: none;
              }
            }
          }
          @media #{$media-mobile} {
            #{$body}-cell {
              &_content-right {
                display: none;
              }
            }
          }
        }
      }
      &-cell {
        position: sticky;
        z-index: var(--mc-table-z-index-cell);
        text-align: left;
        width: var(--mc-table-cell-width);
        max-width: var(--mc-table-cell-max-width);
        min-width: var(--mc-table-cell-min-width);
        @include cell-alignment;
        @include fixed-classes;
        @include shadow-classes;
        &_content {
          width: 100%;
          &-right {
            position: absolute;
            display: none;
            top: 0;
            right: 0;
            padding-right: $space-200;
            padding-left: $space-800;
            height: var(--mc-table-row-height);
            min-height: var(--mc-table-row-height);
            align-items: center;
            background: linear-gradient(90deg, rgba($color-hover-gray, 0.2) 0%, $color-hover-gray 60%);
            z-index: var(--mc-table-z-index-cell-right-slot);
            @include child-indent-right($space-50);
          }
          &-left {
            display: flex;
            align-items: center;
            @include child-indent-right($space-50);
          }
          .mc-cell {
            width: 100%;
          }
        }
        &--align-left {
          text-align: left;
          .mc-table__table_body-cell_content-left {
            text-align: left;
            justify-content: flex-start;
          }
        }
        &--align-center {
          text-align: center;
          .mc-table__table_body-cell_content-left {
            text-align: center;
            justify-content: center;
          }
        }
        &--align-right {
          text-align: right;
          .mc-table__table_body-cell_content-left {
            text-align: right;
            justify-content: flex-end;
          }
        }
      }
    }
    &_footer {
      position: sticky;
      bottom: 0;
      z-index: var(--mc-table-z-index-footer);
      &-row {
        display: flex;
        flex-wrap: nowrap;
        height: var(--mc-table-footer-row-height);
        min-height: var(--mc-table-footer-row-height);
      }
      &-cell {
        position: sticky;
        z-index: var(--mc-table-z-index-cell);
        text-align: left;
        width: var(--mc-table-cell-width);
        max-width: var(--mc-table-cell-max-width);
        min-width: var(--mc-table-cell-min-width);
        background-color: $color-white;
        border-top: var(--border-style);
        @include cell-alignment;
        @include fixed-classes;
        @include shadow-classes;
        &--align-left {
          justify-content: flex-start;
        }
        &--align-center {
          justify-content: center;
        }
        &--align-right {
          justify-content: flex-end;
        }
      }
    }
  }
}