@use '../../../assets/styles/mixins' as *;
.mc-main {
  $block-name: &;

  position: relative;
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  @include custom-scroll();
  &__left {
    display: flex;
  }
  &__right {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
  &__content {
    @include position(absolute, 0);
    overflow-y: auto;
    &-wrapper {
      flex: 1 1 auto;
      position: relative;
    }
  }
}