@use '../../../assets/styles/tooltip' as *;
@use '../../../assets/tokens/font-families' as *;

.mc-tooltip-target {
  $block-name: &;
  max-width: 100%;
  width: max-content;
  font-family: $font-family-main;
}