@use '../../../../assets/styles/mixins' as *;
@use '../../../../assets/tokens/spacings' as *;
.mc-filter-type-range {
  $block-name: &;
  display: flex;
  @include child-indent-right($space-100);
  .mc-field-text {
    width: 146px;
  }
}