@use 'tokens/font-families' as *;
@use 'tokens/font-sizes' as *;
@use 'tokens/spacings' as *;
@use 'tokens/media-queries' as *;
@use 'tokens/colors' as *;
@use 'tokens/border-radius' as *;
@use 'tokens/box-shadows' as *;
@use 'tokens/sizes' as *;
@use 'tokens/font-weights' as *;
@use 'tokens/line-heights' as *;
@use 'sass:color' as sasscolor;
@use 'sass:math' as math;

$system-color: #8756FF;

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  font-size: 16px;
}

body {
  overflow-y: hidden;
  font-size: 13px;
}

body,
#__nuxt,
#__layout,
.mc-tm-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  // убирает превращение х в знак умножения между цифр
  font-variant-ligatures: none !important;
}

body {
  margin: 0;
  overflow-y: auto;

  font-family: $font-family-main;
  font-size: 13px;
  line-height: 16px;
  color: #202427;
  font-variant: none !important;
  font-feature-settings: normal !important;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

[role="button"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

input {
  overflow: visible;
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  user-select: none;
}

a {
  text-decoration-skip-ink: auto;
}

::selection {
  background: sasscolor.scale($system-color, $lightness: 0%);
  color: #ffffff;
}

::-moz-selection {
  background: sasscolor.scale($system-color, $lightness: 0%);
  color: #ffffff;
}

input,
textarea,
[contenteditable] {
  caret-color: $system-color;
}

button {
  -webkit-appearance: none;
}

a,
button {
  outline: none;

  &:focus {
    outline: none;
  }
}

hr {
  box-sizing: content-box;
  overflow: visible;
}

pre {
  font-size: 0.7em;
}

// Spaces
@each $space, $value in $token-spaces {
  .pb-#{$space} {
    padding-bottom: $value !important;
  }
  .pt-#{$space} {
    padding-top: $value !important;
  }

  .mb-#{$space} {
    margin-bottom: $value !important;
  }
  .mt-#{$space} {
    margin-top: $value !important;
  }
}

// Visibility
.hidden-xs {
  @media #{$media-query-xs} {
    display: none !important;
  }
}
.hidden-s {
  @media #{$media-query-s} {
    display: none !important;
  }
}
.hidden-m {
  @media #{$media-query-m} {
    display: none !important;
  }
}
.hidden-l {
  @media #{$media-query-l} {
    display: none !important;
  }
}

.hidden-xs {
  @media #{$media-query-xs-down} {
    display: none !important;
  }
}
.hidden-s-down {
  @media #{$media-query-s-down} {
    display: none !important;
  }
}
.hidden-m-down {
  @media #{$media-query-m-down} {
    display: none !important;
  }
}
.hidden-l-down {
  @media #{$media-query-l-down} {
    display: none !important;
  }
}

.color {
  @each $name, $color in $token-colors {
    &--#{$name} {
      color: $color;
    }
  }
}

:root {
  @each $name, $radius in $token-radius {
    #{'--radius-'}#{$name}: #{$radius};
  }
  @each $name, $color in $token-colors {
    #{'--color-'}#{$name}: #{$color};
  }
  // Default main project colors
  --color-main: #{$color-purple};
  --color-main-dark: #{$color-hover-purple};
  --color-main-light: #{$color-light-purple};

  @for $i from 1 through 10 {
    #{'--color-main-alpha-'}#{$i * 10}: #{rgba($color-purple, math.div($i, 10))};
  }
  @each $name, $size in $token-icon-sizes {
    #{'--size-'}#{$name}: #{$size};
  }
  @each $name, $space in $token-spaces {
    #{'--space-'}#{$name}: #{$space};
  }
  @each $name, $shadow in $token-shadows {
    #{'--shadow-'}#{$name}: #{$shadow};
  }
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-semi-bold: #{$font-weight-semi-bold};
  --font-weight-bold: #{$font-weight-bold};

  @each $name, $height in $token-line-heights {
    #{'--line-height-'}#{$name}: #{$height};
  }
}