@use '../../../assets/styles/mixins' as *;
@use '../../../assets/tokens/spacings' as *;
@use '../../../assets/tokens/colors' as *;
@use '../../../assets/tokens/sizes' as *;
@use 'sass:color' as sasscolor;

.mc-filter {
  $block-name: &;
  flex-grow: 1;
  min-width: 0;
  &__header {
    display: flex;
    @include child-indent-right($space-100);
  }

  &__presets {
    position: relative;
    flex-grow: 1;
    min-width: 0;
    &::after {
      @include pseudo();
      @include position(null, 0 0 0 null);
      width: $size-1000;
      background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, $color-white);
      pointer-events: none;
    }

    &-inner {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      height: calc(#{$space-500} + 2px);
      @include child-indent-right($space-100);
      & {
        @include hide-scrollbar();
      }
      &::after {
        @include pseudo(block, static);
        min-width: $space-300;
      }
    }
  }

  &__body {
    padding: $space-200 $space-200 $space-300 $space-200;
    background-color: $color-hover-gray;
    @include child-indent-bottom($space-200);
    &-top {
      display: flex;
      @include child-indent-right($space-400);

      &-left,
      &-right {
        @include child-indent-right($space-100);
      }
      &-left {
        display: flex;
        align-items: flex-end;
      }
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include child-indent-right($space-400);

      &-left {
        > *:not(:first-child) {
          margin-inline-start: $space-200;
        }
      }
      &-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include child-indent-right($space-100);
        .mc-title,
        .mc-tooltip-target {
          display: inline-flex;
          align-items: center;
        }
      }
      .mc-button {
        &--disabled {
          opacity: 1;
          background-color: sasscolor.scale($color-dark-gray, $lightness: 80%);
          color: $color-dark-gray;
          border-color: sasscolor.scale($color-dark-gray, $lightness: 100%);
          .mc-button__background {
            display: none;
          }
        }
      }
    }
    &-fast-tags-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: -($space-50);
      & > .mc-tooltip-target {
        .mc-chip {
          cursor: pointer;
          margin: calc(#{$space-100} / 2) calc(#{$space-50} / 2);
          &:hover {
            background-color: $color-outline-gray;
          }
        }
      }
    }
  }
  &__main-select {
    width: 270px;
  }
  &__preset-input-title {
    width: auto;
  }
}